@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

:root {
  --yellow: #ffd602;
  --red: #d5040a;
  --blue: #036cb6;
}

body {
  margin: 0 auto;
  height: 100vh;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 55% 45%;
  font-family: 'Lato', sans-serif;
  gap: 3rem;
  overflow: hidden;
  background-color: whitesmoke;
}

main {
  height: 100vh;
  display: grid;
  grid-template-rows: 20% 60% 20%;
}

/* ---------------------------------------------Header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 4rem;

  animation-name: header;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 3s;
}

@keyframes header {
  0% {
    transform: translateY(-50px);
    opacity: 0.2;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

nav a {
  text-decoration: none;
  color: var(--red);
  text-transform: uppercase;
}

nav a:hover {
  text-decoration: underline;
}

/* --------------------------------------------------Description */

.description {
  margin: 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  animation-name: description;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-timing-function: ease-in-out;
}

@keyframes description {
  0% {
    transform: translateY(-100px);
    opacity: 0.2;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.description .title {
  margin: 0;
  font-weight: 700;
  font-size: 2.5rem;
}

.description .subtitle {
  margin: 0;
  padding-left: 1.5rem;
  font-size: 1.5rem;
}

.description-text {
  font-weight: 300;
  line-height: 1.5rem;
}

/* --------------------------------------------------Footer */

footer {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: var(--yellow);
  border-top-right-radius: 10vh;
}

footer ul {
  position: absolute;
  padding: 0;
  margin: 0;
  height: 50%;
  width: 100%;
  bottom: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

footer li {
  width: 18%;
  background-color: var(--blue);
  border-radius: 1rem 1rem 0 0;
}

/* --------------------------------------------------Aside */
aside {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.character {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.character-name {
  transform: rotate(-90deg);
  transform-origin: left;
  margin: 0;
  opacity: 0;
  color: darkslategray;

  animation-name: character-name;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes character-name {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.vertical-stripe {
  background-color: var(--yellow);
}

aside img {
  position: absolute;
  height: 70%;
  top: 25%;
  left: 20%;
  opacity: 0;

  animation-name: harry;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes harry {
  0% {
    transform: translateX(100px);
    opacity: 0.2;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* --------------------------------------------------Loading */

.loader {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;

  animation-name: loader;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes loader {
  0% {
    opacity: 1;
    visibility: visible;
  }
  90% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loader-item {
  height: 70px;
  width: 70px;
  background-color: gold;
  border-radius: 50%;
  animation-name: loading;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform: scale(1);
}

.loader-item:nth-child(2) {
  animation-delay: 200ms;
}

.loader-item:nth-child(3) {
  animation-delay: 400ms;
}

@keyframes loading {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.7);
  }
}
